{% extends 'base.html' %}
{% load timestamptag %}

{% block title %}Latest News{% endblock title %}

{% block content %}
    <h3>Comments</h3>
    <div>
        {% for comment in comments %}
        <div style="border-bottom: 2px solid black">
            <h4>{{ comment.by }} posted on: <a>{{ comment.time | to_date }}</a></h4>

            <p>
                {% autoescape off %}
                    {{ comment.text }}
                {% endautoescape %}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}