{% extends 'base.html' %}
{% load timestamptag %}

{% block title %}Latest News{% endblock title %}

{% block content %}
    <h3>{{ news_heading }}</h3>
    <div>
        {% if 'All News' not in news_heading %}
            <p><a href="../">Home</a></p>
        {% endif %}

        {% for new_item in page_obj %}
        <div style="border-bottom: 2px solid black">
            <h4>{{ new_item.by }} posted on: <a>{{ new_item.time | to_date }}</a></h4>

            {% if new_item.title %}
                <p>{{ new_item.title }}</p>
            {% endif %}
        
            {% if new_item.text %}
                {% autoescape off %}
                    <p>{{ new_item.text | truncatewords_html:10 }}</p>
                {% endautoescape %}
            {% endif %} 
            <a href="{{ new_item.get_absolute_url }}">more details></a>           
        </div>
        
        {% empty %}
            <div>Sorry, no {{ news_heading }} to display.</div>
        {% endfor %}

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}